[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mne = "*"
pywavelets = "*"
matplotlib = "*"
pyqt5 = "==5.15.10"
spkit = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
